@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@media screen and (max-width: 1023px) {

    :root {
        --tumma: #333333;
        --vaalea: rgb(229, 229, 229);
    }

    h2 {
        margin-left: 2vw;
    }

    h3 {
        margin-left: 2vw;
        margin-top: 1vh;
        font-size: larger;
        margin-bottom: 5vh;
    }

    .raja {
        border: 3px solid lightgray;
        margin: 1%;
    }

    .tekstikentta {
        margin-bottom: 1vh;
    }

    .koko {
        font-size: 18px;
    }

    .koko-pienempi {
        font-size: 14px;
    }

    p {
        font-size: 14px;
    }
}      
