@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&display=swap');
@media screen and (min-width: 1024px) {


/*     PÄÄMUOTOILUT     */

    :root {
        --teksti: #333333;
        --tausta: #f6e1f8;
    }

    body {
        margin: 0;
        padding: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        font-family: 'Poppins', 'sans-serif';
        background-color: var(--tausta);
        color: var(--teksti);
    }

    main {
        flex-grow: 1;
        padding: 20px;
    }




                    /*     HEADER, FOOTER ym. MUOTOILUT     */

    .btn-primary {
        background-color: white;
        border-color: var(--teksti);
        color: var(--teksti);
    }


    .btn-primary:hover {
        background-color: var(--tausta);
        border-color: var(--teksti);
        color: var(--teksti)
    }


    .btn-primary:active {
        background-color: lightgray !important;
        border-color: var(--teksti) !important;
        color: var(--tausta) !important;
    }

    header {
        position: fixed;
        width: 100%;
    }

    footer {
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
    }

    .header-mobile {
        display: none;
    }


    .footer-mobiili {
        display: none;
    }




/*     PELIALUEEN POHJAMUOTOILUT     */
    canvas {
        margin: auto;
        margin-top: 14vh;
        margin-bottom: 3vh;
        display: flex;
        justify-content: center;
        box-shadow: 30px 30px 10px rgba(0, 0, 0, 0.4);
        border: 8px outset lightgray;
        align-items: center;
        background-color: rgb(40, 190, 40);
    }

    .boksi {
        margin: auto;
        width: 40vw;
        height: auto;
        justify-content: center;
        box-shadow: 30px 30px 10px rgba(0, 0, 0, 0.4);
        border: 8px outset lightgray;
        align-items: center;
        text-align: center;
        background-color: white;
    }

    .fontti {
        margin: auto;
        background: linear-gradient(to right, indigo, blue, green, orange, red);
        padding: 10px;
        font-size: 18px;
        -webkit-background-clip: text;
        font-family: 'Comic Neue';
        font-weight: bolder;
        background-clip: text;
        color: transparent;
        text-align: center;
    }

    #messageBox {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #button {
        display: none;
    }
}